 @using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EEU_05_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;
}
<link rel="stylesheet" href="~/css/Common/jsTree.css" />

<script>
    var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');

    var localization = {
        UnBlock: '@Localizer["UnBlock"]',
        Active: '@Localizer["Active"]',
        Save: '@Localizer["Save"]',
        Clear: '@Localizer["Clear"]',
        UserId: '@Localizer["UserId"]',
        loginId: '@Localizer["loginId"]',
        UserDesc: '@Localizer["UserDescription"]',
        EmailId: '@Localizer["EmailId"]',
        UnsuccessfulAttempts: '@Localizer["UnsuccessfulAttempts"]',
        LoginAttemptDate: '@Localizer["LoginAttemptDate"]',
        UnlockBlockedUser: '@Localizer["UnlockBlockedUser"]',
        Active: '@Localizer["Active"]',
        Actions: '@Localizer["Actions"]',
        BlockSignIn: '@Localizer["BlockSignIn"]',
        Authorize: '@Localizer["Authorize"]',
        UserGroup: '@Localizer["UserGroup"]',
        UserRole: '@Localizer["UserRole"]',
        Areyousureyouwanttoauthorizethisuser: '@Localizer["Areyousureyouwanttoauthorizethisuser"]',
        UserActions: '@Localizer["UserActions"]',
        ActionDesc: '@Localizer["ActionDescription"]',
        DisplaySequence: '@Localizer["DisplaySequence"]',
        ApproveStatus: '@Localizer["ApproveStatus"]',
        Approve: '@Localizer["Approve"]',

    };
    var errorMsg = {
        SelectUserRole_E1: '@Localizer["UI0202"]',
        EnterUserID_E2: '@Localizer["UI0208"]',
        RejectionReason_E3: '@Localizer["UI0413"]',

    }
</script>

<link href="~/css/Common/jquery.contextMenu.min.css" rel="stylesheet" />
@section scripts {
    <script src="~/js/Common/jsTree.js"></script>
    <script src="~/js/EndUser/AuthorizeUser.js"></script>
    <script src="~/js/Common/jquery.contextMenu.min.js"></script>
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <label>@Localizer["SelectUserType"]</label>
        <div class="form-group">
            <input type="radio" name="rduser" id="rdUnauthUser" value="Unauthenicate" checked="checked"/><label for="rdUnauthUser" class="d-inline ps-1 pe-3"> @Localizer["Un-Approved"]</label>
            <input type="radio" name="rduser" id="rdAuthenUser" value="Authentic" /><label for="rdAuthenUser" class="d-inline ps-1 pe-3">@Localizer["Approved"]</label>
            <input type="radio" name="rduser" id="rdRejectedUser" value="Rejected" /><label for="rdRejectedUser" class="d-inline ps-1">@Localizer["Rejected"] </label>
        </div>
    </div>

    <div class="col-lg-12 col-12 form-group" id="GridAuthorizeUser">
        <table id="jqgAuthorizeUser"></table>
        <div id="jqpAuthorizeUser"></div>
    </div>
</div>
<div class="modal fullscreen fade" id="PopupAuthorizeUser" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style="box-shadow:none;top:40px;">
        <div class="modal-content">
            <div class="modal-header popupHeader">
                <button type="button" class="close" data-bs-dismiss="modal"> <i class="fa fa-times"></i></button>
                <h4 class="modal-title">@Localizer["ApproveUser"]</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xl-4" id="divjstAuthorizeUser">
                        <div id="jstAuthorizeUser" class="bg-light border-dashed">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xl-8">
                        <input type="text" id="txtLocationID" hidden />
                        <input type="text" id="txtUserGroup" hidden />
                        <input type="text" id="txtUserRole" hidden />
                        <div class="card shadowLite border-0 form-group">
                            <div class="card-body w-100">
                                <div class="row">
                                    <div class='col-lg-6 col-md-6 col-sm-12 form-group border-bottom'>
                                        <label class="">@Localizer["UserDescription"]</label>
                                        <label id="lblUserDescription"></label>
                                        <hr />
                                    </div>
                                    <div class='col-lg-3 col-md-3 col-sm-12 form-group border-bottom'>
                                        <label class="">@Localizer["UserGroup"]</label>
                                        <label id="lblUserGroup"></label>
                                        <hr />
                                    </div>
                                    <div class='col-lg-3 col-md-3 col-sm-12 form-group border-bottom'>
                                        <label class="">@Localizer["UserRole"]</label>
                                        <label id="lblUserRole"></label>
                                        <hr />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class='col-lg-12 col-md-12 col-sm-12'>
                                <table id="jqgUserActions"></table>
                                <div id="jqpUserActions"></div>
                            </div>
                            
                            
                           
                        </div>


                    </div>
                   
                </div>

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button" id="btnAuthenticateUser" onclick="fnSaveAuthenticateUser()">
                            <i class="fa fa-save"></i> @Localizer["Approve"]
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="btnRejectUser" onclick="fnOpenRejectUser()"><i class="fa fa-ban"></i> @Localizer["Reject"] </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button cancel-button" data-bs-dismiss="modal" id="btnCancelRejectUser"><i class="fa fa-times"></i> @Localizer["Close"] </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal bg-dark bg-opacity-50 fade" id="PopupRejectUser" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-md" role="document" style="box-shadow:none;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal"> <i class="fa fa-times"></i></button>
                <h4 class="modal-title">@Localizer["RejectUser"]</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class='col-lg-12 col-md-12 col-sm-12 form-group'>
                        <label class="">@Localizer["RejectionReason"]</label>
                        <textarea rows="4" cols="50" id="txtRejectionReason" class="form-control" autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button" id="btnRejectUserAuthenticate" onclick="fnRejectUser();">
                            <i class="fa fa-times"></i> @Localizer["Reject"]
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button cancel-button" data-bs-dismiss="modal" id="btnCancelRejectUserAuthenticate"><i class="fa fa-times"></i> @Localizer["Cancel"] </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>