@using Microsoft.AspNetCore.Mvc.Localization

@using System.Globalization
@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google" content="notranslate">
    <meta name="description" content="esya is web application providing end to end solutions for the hospital information system">
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
    <title>@ViewData["Title"] - eSyaEnterprise_UI</title>
        


    <link rel="stylesheet" asp-append-version="true" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" asp-append-version="true" href="~/css/common/bootstrap-select.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/common/animate.css" />
	<link rel="stylesheet" asp-append-version="true" href="~/css/common/all.min.css" />
	<link rel="stylesheet" asp-append-version="true" href="~/css/common/material.min.css"/>
	<link rel="stylesheet" asp-append-version="true" href="~/css/common/jquery-ui.min.css" />
	<link rel="stylesheet" asp-append-version="true" href="~/css/common/ui.jqgrid.css" />
    @* <link rel="stylesheet" asp-append-version="true" href="~/css/common/toastr.min.css" /> *@
    <link rel="stylesheet" asp-append-version="true" href="~/css/common/jqgridcustomstyle.css"/>
    <link rel="stylesheet" asp-append-version="true" href="~/css/common/site.css"/>
    <link rel="stylesheet" asp-append-version="true" href="~/css/common/master.css"/>
    <link rel="stylesheet" asp-append-version="true" href="~/css/common/esyafonts.css"/>
    <link rel="stylesheet" asp-append-version="true" href="~/css/common/esyatheme.css"/>
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
    <script src="~/js/Common/bootstrap-select.js"></script>
    <script src="~/js/Common/material.min.js"></script>
    <script src="~/js/Common/all.min.js"></script>
    <script src="~/js/Common/i18n/grid.locale-en.js"></script>
    <script src="~/js/Common/jquery-ui.min.js"></script>
    <script src="~/js/Common/toast.js"></script>
    <script src="~/js/Common/toastr.js"></script>


    <script src="~/js/Common/jquery.jqgrid.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Common/layout.js"></script>
    <script src="~/js/utility/cf-input-validation.js"></script>
    <script src="~/js/Common/jquery.sessionTimeout.min.js"></script>
    <script src="~/js/jquery.inputmask/jquery.inputmask.min.js"></script>
    <script src="~/js/jquery.inputmask/inputmask-userdefined.js"></script>
  
  
    
</head>
<body>
   
      <section class="header">
        <nav class="navbar navbar-expand-lg navbar-light" id="header_navbar">
           
            <div class="navbar-brand-container">
                <button id="btn-menuBar" aria-label="Menu"><i class="fa fa-bars c-blue"></i></button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="~/images/logo/esya-logo-whitebg.jpeg" class="img-responsive MasterPage-Logo" alt="esya logo" />
                    <span class="txtversionNumber">1.0.0 </span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="">
            </div>

            <ul class="navbar-nav ms-auto" id="navbarSupportedContent">
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle top-3" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-map-marker-alt"></i>
                        @if (@Context.Session.GetString("BusinessLocationName") != null)
                        {
                            @Context.Session.GetString("BusinessLocationName").ToString()
                        }
                    </a>
                 @*   @await Component.InvokeAsync("eSyaBusinessLocation") *@
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi   @User.Identity.Name  &nbsp;  <i class="far fa-user-circle c-white user-logo">  </i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown2" id="divSignOutBox">
                        <div class="row">
                            @*<a class="text-center quickMenuItem" href="">
                                <span class="text-center"><i class="fa fa-info-circle"></i></span>
                                <p class="text-center"> About us </p>
                            </a>

                            <a class="text-center quickMenuItem" href="">
                                <span class="text-center"><i class="far fa-eye"></i></span>
                                <p class="text-center"> View Profile </p>
                            </a>*@
                            <a class="text-center quickMenuItem" href="@Url.Action("EEU_10_00", "UserCreation", new { area = "EndUser" })">
                                <span class="text-center"><i class="fa fa-key"></i></span>
                                <p class="text-center">Change Password</p>
                            </a>
                            @*<a class="text-center quickMenuItem" href="">
                                <span class="text-center"><i class="fa fa-cog"></i></span>
                                <p class="text-center"> Settings </p>
                            </a>
                            <a class="text-center quickMenuItem" href="">
                                <span class="text-center"><i class="far fa-comments"></i></span>
                                <p class="text-center"> Feedback </p>
                            </a>
                            <a class="text-center quickMenuItem" href="">
                                <span class="text-center"><i class="fa fa-cogs"></i></span>
                                <p class="text-center"> FAQ </p>
                            </a>*@
                        </div>
                      
                        <a class="dropdown-item bg-whitesmoke" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Sign out</a>
                    </div>
                </li>
            </ul>
        </nav>
        @*<div id="divProgressBar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>*@
    </section>
    <div class="header py-1 mb-0  banner">
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>*@
        <p class="form-name d-inline" id="lblFormName">@ViewBag.formName </p>
        @*<p class="errorText"><i class="fas fa-times-circle"></i></p>*@
        <div class="message-notification d-inline p-r-15">
            @*<a href="#" class="f-18 m-r-30  material-icons mdl-badge mdl-badge--overlap" data-badge="5" id="message-notification"> <i class="far fa-envelope"></i> </a>
            <a href="#" class="f-18 m-r-30 material-icons mdl-badge mdl-badge--overlap" data-badge="7" id="activity-notification"> <i class="far fa-bell"></i> </a>*@
            <a href="#" class="f-18" id="expand-notification"> <i class="fas fa-expand"></i> </a>
            <a href="#" class="f-18" id="compress-notification"> <i class="fa fa-compress"></i> </a>
        </div>
    </div>

    <div id="divAlert"></div>
    <div class="container-fluid body-content">
        <div id="jquery-accordion-menu" class="jquery-accordion-menu">
            @* <div class="jquery-accordion-menu-header">
                <span class="btnMenuBar" aria-label="Menu"><i class="fa fa-bars"></i></span>
                <img src="~/images/logo/esya-logo-whitebg.jpeg" class="img-responsive MasterPage-Logo" />
                <span id="version-number" class="txtversionNumber"> 1.0.0 </span><span id="btnCloseMenu" style="display:none"><i class="fa fa-times"></i></span>
            </div> *@
            
            <ul>
                <li>
                    @* <a href="#" id="">
                        <span href="#" id="eSyaMenuName"> </span> <span id="eSyaVersion">Ver. 1.0.0 </span>  </a> *@
                    @await Component.InvokeAsync("Menu") 
                </li>
            </ul>
        </div>
        <div class="renderBody">
            @RenderBody()
        </div>
       
    </div>

    <footer>
        <p>&copy; @System.DateTime.Now.Year - esyaEnterprise</p>
    </footer>
   
   


    <script>

        var _cnfDateFormat = @Json.Serialize(@Configuration.GetSection("cnf").GetSection("DateFormat").Value);
        var _cnfjqgDateFormat = @Json.Serialize(@Configuration.GetSection("cnf").GetSection("ShortDateFormat").Value);
        var _cnfdecimalDigits = @Json.Serialize(@Configuration.GetSection("cnf").GetSection("DecimalDigit").Value);
        var _cnfLocalCurrency = @Json.Serialize(@Configuration.GetSection("cnf").GetSection("LocalCurrencyCode").Value);
        var _cnfISDCode = @Json.Serialize(@Configuration.GetSection("cnf").GetSection("ISDCode").Value);

        var sessionWarning = (parseInt(@Configuration.GetSection("SessionTimeInMintues").GetSection("Warning").Value) * 1000 * 60);
        var sessionTimeOut = (parseInt(@Configuration.GetSection("SessionTimeInMintues").GetSection("TimeOut").Value) * 1000 * 60);
        $.sessionTimeout({
            keepAliveUrl: getBaseURL() + 'KeepAlive/Index',
            keepAliveAjaxRequestType: 'POST',
            logoutUrl: getBaseURL() + '/Account/Logout',
            redirUrl: getBaseURL() + '/Account/SessionTimeout',
            warnAfter: sessionWarning,
            redirAfter: sessionTimeOut,
            appendTime: true
        });

        function getReportBaseURL() {
            var baseUrl = @Json.Serialize(@Configuration.GetSection("ReportServerURL").Value);
            return baseUrl;
        }
        $(function () {
            $.getJSON(getBaseURL() + "/json/menuitem.json", function (data) {

                if (data != null)
                    $('#eSyaMenuName').html(data.MenuName);
                $('#eSyaVersion').html(data.Version);

            });
            var cultureInfo = '@System.Globalization.CultureInfo.CurrentCulture.Name';

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": cultureInfo.includes("ar") ? "toast-top-center" : "toast-top-center",
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "preventDuplicates": true,
                "preventOpenDuplicates": true,
                "progressBar": true
            };

            CustomMessage();

            $("[id^='jqgh'][id$='_rn']").text("S.No").css("text-align", 'center');


            if ($("[data-bs-toggle='tooltip']").length) {
                $("[data-bs-toggle='tooltip']").tooltip({
                    trigger: 'focus'
                });
            }
        })
        function CustomMessage() {
            $.getJSON(getBaseURL() + "/json/errormessage.json", function (data) {
                errorMsgCS = data;
            });
        }
        function getBaseURL() {
            var url = window.location.href.split('/');
            var baseUrl = url[0] + '//' + url[2] + '@Url.Content("~")';
            return baseUrl;
        }
    </script>

   
    
    @await RenderSectionAsync("Scripts", required: false)
    <div id="divLoader" class="text-center" style="background:#555;color:gold;">
        @*<span id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></span>*@
        <div class="loader-dblcircle"></div>
        <p class="text-center bold" id="loader_msg">...</p>
    </div>

</body>
</html>
