@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Globalization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    // var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // var cultureItems = LocOptions.Value.SupportedUICultures
    //     .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
    //     .ToList();

    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";

    // var sele = ViewBag.selectedculture;
}

@* <div title="@Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" asp-controller="Account"
          asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
          method="post" class="form-horizontal" role="form">
        <label asp-for="@requestCulture.RequestCulture.UICulture.Name" class="d-inline">@Localizer["Language:"]</label>
        <select class="d-inline" name="culture" onchange="this.form.submit();" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems.ToList()"></select>

       
    </form>
</div> *@
@model IEnumerable<SelectListItem>
<div>
    <form id="selectLanguage" asp-controller="Account"
          asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
          method="post" class="form-horizontal" role="form">
        <label  class="d-inline">@Localizer["Language:"]</label>
        @* <select class="d-inline" data-container="body" id="cboCulture" name="culture" onchange="this.form.submit();" data-size="2"  asp-items="@(IEnumerable<SelectListItem>)@ViewData["cultureResponse"]"> *@
       @*  <select class="d-inline"  data-container="body" id="cboCulture" name="culture" onchange="fnChange()" asp-items='@(IEnumerable<SelectListItem>)@ViewData["cultureResponse"]'>
          </select> *@
        <select class="d-inline" data-container="body" id="cboCulture" name="culture" onchange="fnChange()" asp-items="Model">
        </select>
    </form>
</div> 

    <script>
        $(function(){
        $("#cboCulture").val(localStorage.getItem("culture"));
        })
        function fnChange() {
            localStorage.setItem("culture", $("#cboCulture").val());
            $("#selectLanguage").submit();
         };
       
    </script>