@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "EMP_01_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Common/jquery.contextMenu.min.css" rel="stylesheet" />

@{
    var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;
}
<script>
    var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');
    var localization = {
        Active: '@Localizer["Active"]',
        Actions: '@Localizer["Actions"]',
        Save: '@Localizer["Save"]',
        Edit: '@Localizer["Edit"]',
        View: '@Localizer["View"]',
        CompositionID: '@Localizer["CompositionID"]',
        FormulationID: '@Localizer["FormulationID"]',
        TradeID: '@Localizer["TradeID"]',
        TradeName: '@Localizer["TradeName"]',
        PackSize: '@Localizer["PackSize"]',
        Packing: '@Localizer["Packing"]',
        PackingDesc: '@Localizer["PackingDesc"]',
        Manufacturer: '@Localizer["Manufacturer"]',
        ISDCode: '@Localizer["ISDCode"]',
        BarcodeID: '@Localizer["BarcodeID"]',
        AddDrugsConsumables: '@Localizer["AddDrugsConsumables"]',
        EditDrugsConsumables: '@Localizer["EditDrugsConsumables"]',
        ViewDrugsConsumables: '@Localizer["ViewDrugsConsumables"]',
        DrugsConsumables: '@Localizer["DrugsConsumables"]',
        Skutype: '@Localizer["Skutype"]',
        Skucode: '@Localizer["Skucode"]',
        SkuId: '@Localizer["SkuId"]',
        ManufacturerID: '@Localizer["ManufacturerID"]',
    }
    var errorMsg = {
        addauth_E1: '@Localizer["UIC01"]',
        editauth_E2: '@Localizer["UIC02"]',
        vieweauth_E3: '@Localizer["UIC03"]',
        deleteauth_E4: '@Localizer["UIC04"]',
        TradeName_E5: '@Localizer["UI0336"]',
        PackSize_E6: '@Localizer["UI0157"]',
        SelectPackSize_E7: '@Localizer["UI0337"]',
        SelectManufacturer_E8: '@Localizer["UI0338"]',
        SelectISDCode_E9: '@Localizer["UI0056"]',
        SelectDrugConsumables_E10:'@Localizer["UI0339"]',
        SelectDrugComposition_E11: '@Localizer["UI0340"]',
        SelectDrugFormulation_E12: '@Localizer["UI0341"]',
        SelectDrugManufacturer_E13: '@Localizer["UI0342"]',
    }
</script>

@section scripts{
    <script src="~/js/ManagePharma/ManageDrugsConsumables.js"></script>
    <script src="~/js/Common/jquery.contextMenu.min.js"></script>
}


<div class="row">

    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
        <div class="form-group">
            <label> @Localizer["Drugs&Consumables"]</label>
            <select class="selectpicker" data-live-search="true" id="cboDrugConsumables" title="Select" data-size="8" asp-items="@ViewBag.DrugList" onchange="fnGetDrugDetails()">
                <option value="0"> @Localizer["Select"]</option>
            </select>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
        <div class="form-group">
            <label> @Localizer["DrugComposition"] </label>
            <select class="selectpicker" data-live-search="true" id="cboDrugComposition" title="Select" data-size="8" asp-items="@ViewBag.DrugCompositionList" onchange="fnGetDrugCompositionONChanged()">
                <option value="0"> @Localizer["Select"]</option>
            </select>
        </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
        <div class="form-group">
            <label> @Localizer["DrugsFormulations"] </label>
            <select class="selectpicker" data-live-search="true" id="cboDrugsFormulations" title="Select" data-size="8" onchange="fnGetDrugFormulationONChanged()">
                <option value="0"> Select</option>
            </select>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
        <div class="form-group">
            <label> @Localizer["DrugsManufacturer"] </label>
            <select class="selectpicker" data-live-search="true" id="cboDrugsManufacturer" title="Select" data-size="8" onchange = "fnGridLoadDrugsConsumables()">
                <option value="0"> Select</option>
            </select>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
        <table id="jqgDrugsConsumables"></table>
        <div id="jqpDrugsConsumables"></div>
    </div>
</div>

<div class="modal fullscreen fade" id="PopupDrugsConsumables" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header popupHeader">
                <button type="button" class="close" data-bs-dismiss="modal"> <i class="fa fa-times"></i></button>
                <h4 class="modal-title"> @Localizer["AddDrugsConsumables"]</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtTradeID" style="display:none">
                        <input type="text" class="form-control" id="txtSkuCode" style="display:none">
                        <input type="text" class="form-control" id="txtSkuId" style="display:none">
                    </div>

                      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                                <div class="form-group">
                                    <label> @Localizer["TradeName"] </label>
                                    <input type="text" class="form-control" autocomplete="off" maxlength="75" id="txtTradeName" />
                                </div>
                            </div>
                          
                            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label> @Localizer["PackSize"] </label>
                                    <input type="text" id="txtPackSize" class="form-control numberonly" autocomplete="off" maxlength="4" value="1" />

                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label> @Localizer["Packing"] </label>
                            <select class="selectpicker" data-container="body" data-live-search="true" title="Select" id="cboPacking" data-size="8" asp-items="@ViewBag.Packing">
                                        <option value="0">@Localizer["Select"]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label> @Localizer["Manufacturer"] </label>
                                    <select class="selectpicker" data-container="body" data-live-search="true" title="Select" id="cboManufacturer" data-size="8">
                                        @* <option value="0">@Localizer["Select"]</option> *@
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 form-group d-flex justify-content-end flex-column">

                        <label> @Localizer["ISDCode"] </label>
                        @await Component.InvokeAsync("IsdCountryInput", new { id = "locISD" })

                                @* <label for="cboIsdcode">@Localizer["ISD-Code"]</label>
                                <select class="selectpicker" data-container="body" title="Select" data-live-search="true" id="cboIsdcode" data-size="8" onchange="fnISD_change(this)">

                                </select> *@
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label> @Localizer["BarcodeID"] </label>
                                    <input type="text" id="txtBarcodeID" class="form-control" autocomplete="off" maxlength="20" />

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 form-group d-flex align-items-end">
                                <div class="">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="chkActiveStatus">
                                        <input type="checkbox" id="chkActiveStatus" class="mdl-checkbox__input">
                                        <span class="mdl-checkbox__label">@Localizer["Active"]</span>
                                    </label>
                                </div>
                            </div>
                          </div>
                              <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <hr/>
                                      <p class="subheading">@Localizer["DrugParameter"]</p>
                                        <hr class="left" />
                                        @await Component.InvokeAsync("eSyaParameter", new { parameterType = "11" })
                                    </div>
                              </div>


                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div id="jstBusinessLocation"> </div>
                        </div>

                </div>

            </div>


            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent primary-button" id="btnSaveDrugsConsumables" onclick="fnSaveDrugsConsumables()">
                            @Localizer["Save"]
                        </button>
                        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button" data-bs-dismiss="modal"> @Localizer["Cancel"]</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>