@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EEU_10_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Common/password.css" />
@{
    var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;
}
<script>
    var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');

    var localization = {
        CurrentPassword: '@Localizer["CurrentPassword"]',
        NewPassword: '@Localizer["NewPassword"]',
        ConfirmPassword: '@Localizer["ConfirmPassword"]',
        OnlyAlphanumeric20Characters: '@Localizer["OnlyAlphanumeric20Characters"]',
     };
    var errorMsg = {
        LoginID_E1: '@Localizer["UI0133"]',
        LoginDesc_E2: '@Localizer["UI0134"]',
        ReasonForDeactivation_E3: '@Localizer["UI0135"]',
        CurrentPassword_E4: '@Localizer["UI0277"]',
        NewPassword_E5: '@Localizer["UI0278"]',
        PasswordPattern_E6: '@Localizer["UI0279"]',
        EnterPassword_E7: '@Localizer["UI0280"]',
        PasswordSame_E8: '@Localizer["UI0281"]',
     }
    
</script>


<section class="resetPasswordSection">
    <div class="row">
        <div class="col-12 col-lg-12  form-group" id="divRPErrorMsg" style="display:none">
            <div class="bgUserTips">
                <p id="lblRPErrorMessageHeader" class="m-0 bold animate__animated animate__fadeInDown"></p>
                <div id="divRPlblErrorList"> </div>
            </div>
        </div>
        <div class="col-sm-12">

            <label for="txtCurrentPassword">@Localizer["CurrentPassword"]</label>
            <div class="form-group">
                <input type="password" id="txtCurrentPassword" maxlength="20" value="" class="form-control" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title='@Localizer["OnlyAlphanumeric20Characters"]'>
            </div>
            <div class="form-group ">
                <label for="txtNewPassword">@Localizer["NewPassword"]</label>
                <div class="form-group pass_show position-relative">
                    <input type="password" id="txtNewPassword" maxlength="20" class="form-control" data-toggle="popover" autocomplete="off" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title='@Localizer["OnlyAlphanumeric20Characters"]'>
                    <a href="#" id="viewPassword"><i class="fa fa-eye-slash"></i></a>
                </div>
            </div>
            <label for="txtConfirmPassword">@Localizer["ConfirmPassword"]</label>
            <div class="form-group">
                <input type="password" id="txtConfirmPassword" maxlength="20" class="form-control" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title='@Localizer["OnlyAlphanumeric20Characters"]'>
            </div>

        </div>
        <div class="col-lg-12 " style="display:none;">
            <span>Password must meet the following requirement </span>

            @* @* <ul>
                <li>At least @Model.RequiredLength character in length</li>
                <li>Minimum @Model.RequireUppercase upper case letter(s)</li>
                <li>Minimum @Model.RequireLowercase lower case letter(s)</li>
                <li>Minimum @Model.RequireNumeric number(s)</li>
                <li>Minimum @Model.RequireSpecialChar Special Character(s)</li>
            </ul> *@
            
        </div>
      
        <div class="col-sm-12" style="text-align:center">
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-r-15" id="btnSave" onclick="fnSaveChangePassword()"><i class="fas fa-sync"></i> @Localizer["ChangePassword"] </button>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="btnClear" onclick="fnClear()"><i class="fa fa-trash"></i> @Localizer["Cancel"]</button>
        </div>
    </div>
</section>

@section scripts {

    <script src="~/js/EndUser/ChangePassword.js"></script>
}