@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EFC_01_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;
}
<script>
    var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');
    var localization = {
        AssetGroup: '@Localizer["AssetGroup"]',
        AssetGroupDesc: '@Localizer["AssetGroupDescription"]',
        AssetGroupStatus: '@Localizer["AssetGroupStatus"]',
        AssetSubGroupID: '@Localizer["AssetSubGroupID"]',
        AssetSubGroupStatus: '@Localizer["AssetSubGroupStatus"]',
        AssetSubGroupDescription: '@Localizer["AssetSubGroupDescription"]',
        Active: '@Localizer["Active"]',
        Actions: '@Localizer["Actions"]',
        Edit: '@Localizer["Edit"]',
        View: '@Localizer["View"]',
        Status: '@Localizer["Status"]',
        EditAssetGroup: '@Localizer["EditAssetGroup"]',
        AssetGroup: '@Localizer["AssetGroup"]',
        subGrid: '@Localizer["subGrid"]',
    }
</script>
@section scripts{
    <script src="~/js/configfasset/assetgroup.js"></script>
}

<style>
    .ui-widget-content {
        border-left: 1px solid rgba(0,0,0,0.1) !important;
        border-right: 1px solid rgba(0,0,0,0.1) !important;
        border-right-style: solid;
        border-top: 1px solid #eaeaea !important;
        border-bottom: 1px solid #eaeaea !important;
    }
</style>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 form-group">
        <table id="jqgAssetGroup"></table>
        <div id="jqpAssetGroup"></div>
    </div>
</div>

