@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using System.Globalization;

@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google" content="notranslate">
    <title>Business Location</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/common/animate.css" rel="stylesheet" />
    <link href="~/css/common/all.min.css" rel="stylesheet" />
    <link href="~/css/common/material.min.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/css/login/login.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/css/common/esyafonts.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/css/common/esyatheme.css" rel="stylesheet" />
    @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        <link rel="stylesheet" type="text/css" href="~/css/Common/rtl.css">
    }
</head>
<body>
    <div class="loginContainer">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 d-sm-none d-md-block padright0 animated fadeIn">
                <img src="~/images/esya-products-yellow-with-footer.jpg" class="leftImage" alt="eSya Logo" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-auto col-sm-12 col-xs-12 login-form pad0">
                <div class="text-center">
                    <img src="~/images/logo/esya-logo-black.png" class="smallDeviceLogo" alt="eSya Products" />
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 padtop20">
                    <h5 class="text-center"> @Localizer["Hi"] <span class="c-red">@User.Identity.Name</span></h5>

                    <form id="BusinessLocation" asp-controller="Account" asp-action="Confirmation" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row padtop30 padbot15">
                            <div class="col-lg-12 col-md-12 col-sm-12 padleft0 padright0">
                                <div class="form-group">
                                    <label class="lable-color">
                                        @Localizer["BusinessSegment"]
                                    </label>
                                    <select class="selectpicker"
                                            id="BusinessKey" name="BusinessKey"
                                            ></select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 padleft0 padright0">
                                <div class="form-group">
                                    <label class="lable-color"> @Localizer["FinancialYear"]</label>
                                    <select class="selectpicker" id="FinancialYear" name="FinancialYear"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row padtop30">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 p-0">
                                <button type="button" class="mdl-button loginButton" tabindex="3" id="btnBack"><i class="fa fa-chevron-left c-grey"></i> @Localizer["Back"]</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 p-0 f-right">
                                <button type="submit" class="mdl-button loginButton f-right" tabindex="3">
                                    @Localizer["Signin"]  <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                @*<p class="footernote"> &copy;@DateTime.Now.Year Gestalt Technologies Pvt. Ltd </p>*@

            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/common/material.min.js"></script>
    <script src="~/js/common/all.min.js"></script>
    <script src="~/js/common/bootstrap-select.js"></script>
</body>
</html>