@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "EEU_12_00";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var userFormRole = (eSyaEnterprise_UI.Models.DO_UserFormRole)ViewBag.UserFormRole;
}

<script>
    var _userFormRole = JSON.parse('@Html.Raw(Json.Serialize(userFormRole))');
    var localization = {
        Active: '@Localizer["Active"]',
        Edit: '@Localizer["Edit"]',
        Save: '@Localizer["Save"]',
        Cancel: '@Localizer["Cancel"]',
        Actions: '@Localizer["Actions"]',
        View: '@Localizer["View"]',
        Delete: '@Localizer["Delete"]',
        Select: '@Localizer["Select"]',
        Deactivate: '@Localizer["Deactivate"]',
        Activate: '@Localizer["Activate"]',
        BusinessKey: '@Localizer["BusinessKey"]',
        UserId: '@Localizer["UserId"]',
        LoginDescription: '@Localizer["LoginDescription"]',
        MapUserToApprovals: '@Localizer["MapUserToApprovals"]',
    }
    var errorMsg = {
        addauth_E1: '@Localizer["UIC01"]',
        editauth_E2: '@Localizer["UIC02"]',
        vieweauth_E3: '@Localizer["UIC03"]',
        deleteauth_E4: '@Localizer["UIC04"]',
        actDeact_E5: '@Localizer["UIC05"]',
        SelectBusinessLocation_E6: '@Localizer["UI0064"]',
        SelectUser_E7: '@Localizer["UI0419"]',
        SelectForm_E8: '@Localizer["UI0420"]',
        SelectOneApprovalLevel_E9: '@Localizer["UI0402"]',
    }
</script>
<link href="~/css/Common/jquery.contextmenu.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/Common/jsTree.css" />
@section scripts {
    <script src="~/js/EndUser/MapUserToApprovals.js"></script>
    <script src="~/js/Common/jsTree.js"></script>
    <script src="~/js/Common/jquery.contextmenu.min.js"></script>
}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label for="cboBusinessKey">@Localizer["BusinessLocation"]</label>
            <select class="selectpicker" data-live-search="true" id="cboBusinesskey" title="Choose Location" data-size="8" data-container="body" onchange="fnOnChangeBusinessLocation()">
                <option value="0">@Localizer["Select"] </option>
                @foreach (var ut in ViewBag.Businesskeys)
                {
                    <option value="@ut.BusinessKey">@ut.LocationDescription</option>
                }
            </select>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-6">
        <table id="jqgMapUserToApprovals"></table>
        <div id="jqpMapUserToApprovals"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-6">
        <div id="jstApprovalForms" class=""></div>
    </div>
</div>


<div class="modal fade in" id="PopupUserFormApproval" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-md  " role="document" style="box-shadow:none;">
        <div class="modal-content ">
            <div class="modal-header popupHeader">
                <h5 class="modal-title">@Localizer["ApprovalLevels"]</h5>
                <button type="button" class="close ml-auto" data-bs-dismiss="modal"> <i class="fa fa-times"></i></button>
            </div>

            <div class="modal-body">
                
                <div class="row">
                   
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <table id="jqgUserFormApproval"></table>
                        <div id="jqpUserFormApproval"></div>
                        </div>
                    
                   
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="mdl-button  primary-button" id="btnUserFormApproval" onclick="fnSaveUserFormApproval()">
                            <i class="fa fa-save"></i> @Localizer[" Save "]
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  cancel-button cancel-button" data-bs-dismiss="modal" id="btnCancelCodeType"><i class="fa fa-times"></i> @Localizer["Cancel"] </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>